#container{
    text-align: center;
}
#persec{
    font-size: 12px;
}
body{
    background-color: lightslategrey;
    font-size: 30px;
    text-align: center;
}
button{
    background: rgba(0, 0, 0, 0.178);
    border: transparent;
    width: 270px;
    height: 30px;
}
.hidden{
    display: none;
}